body {
    background-color: rgb(0, 0, 0); 
    background-size:cover; 
    background-repeat: repeat;
}
h3{
    font-family: 'Helvetica'
    font-size: 3rem;
    color: #ff3c00; 
    text-align: center;
    letter-spacing: 1px; 

}
h2{
    font-family: 'Helvetica'
    font-size: 10rem;
    color: #ff3c00; 
    text-align: center;

}
p {
    font-size: 1rem;
    line-height: 1.6;
    color: #e23500; 
    font-family: 'Helvetica'
}
header {
    text-align: center;
    
}
ul  {
    font-size: 1rem;
    color: #e23500;
    font-family: 'Helvetica'
    letter-spacing: 1px;
}
.container {
    justify-content: flex-start;
    max-width: 10vw;
    height: 50vh; 
    object-fit: cover;
    max-width: 200px;
    box-sizing: inherit;
}
.container {
    background-color: rgb(30, 30, 32);;

}
footer {
    text-align: center; color: #e23500; size: 4cm;
}   